@define-color bg-col #1e1e2e;
@define-color bg-col-light #1e1e2e; /* find the actual values for bg-light please*/
@define-color border-col #1e1e2e;
@define-color selected-col #1e1e2e;
@define-color blue #89b4fa;
@define-color fg-col #cdd6f4;
@define-color fg-col2 #f38ba8;
@define-color grey #6c7086;

window {
  opacity: 1;
  border-radius: 10px;
  font-family: JetBrainsMono Nerd Font;
	background-color: @bg-col-light; 
}

#input {
  border:  0px;
  padding: 10px;
  margin: 0px;
	color: @fg-col2;
  background-color: @bg-col-light;
}

#inner-box {
  border: 2px solid @border-col;
}

#entry {
  color: @fg-col;
}

#entry:selected {
  color: @fg-col;
  background-color: @bg-col
}

#text {
  background-color: @bg-col-light;
}

#text:selected {
  color: @fg-col2;
}

